<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tson.yd.dao.BookDao">

    <insert id="insertBook" parameterType="com.tson.yd.model.book.InsertBootEntity">
        INSERT
        book
        (userId,
        bookId,
        title,
        splash,
        img,
        openType,
        content,
        description,
        bookType)
        VALUES
        (#{userId},
        #{bookId},
        #{title},
        #{splash},
        #{img},
        #{openType},
        #{content}
        <if test="description!=null">
            ,#{description}
        </if>

        <if test="bookType!=null">
            ,#{bookType}
        </if>)
    </insert>

    <delete id="deleteBook">
        DELETE
        FROM book
        WHERE userId = #{userId}
          AND bookId = #{bookId}
    </delete>

    <update id="updateBook" parameterType="com.tson.yd.model.book.InsertBootEntity">
        UPDATE book
        SET
        <if test="title!=null">
            title=#{title},
        </if>
        <if test="splash!=null">
            splash=#{splash},
        </if>
        <if test="img!=null">
            img=#{img},
        </if>
        <if test="content!=null">
            content=#{content},
        </if>
        <if test="openType!=null">
            openType=#{openType},
        </if>
        <if test="description!=null">
            description=#{description},
        </if>
        <if test="bookType!=null">
            bookType=#{bookType},
        </if>
        bookId=#{bookId}
        WHERE userId=#{userId} AND bookId=#{bookId}
    </update>

    <select id="queryBook" resultType="com.tson.yd.model.book.BookEntity">
        SELECT *
        FROM book
        WHERE
        <if test="userId!=null">
            userId = #{userId}
            AND
        </if>
        bookId = #{bookId}
    </select>

    <select id="queryBooksByUser" resultType="com.tson.yd.model.book.BookEntity">
        SELECT *
        FROM book
        WHERE userId = #{userId}
    </select>

    <select id="queryBooksBySplash" resultType="com.tson.yd.model.book.BookEntity">
        SELECT *
        FROM book
        WHERE splash = #{splash}
        <if test="keyword!=null">AND CONCAT(title,content) like '%${keyword}%'</if>
    </select>

    <select id="queryBookByOpenType" resultType="com.tson.yd.model.book.BookEntity">
        SELECT *
        FROM book
        WHERE openType = #{isOpen}
    </select>

    <select id="search" parameterType="com.tson.yd.model.book.request.SearchRequest"
            resultType="com.tson.yd.model.book.BookEntity">
        <if test="userId!=null">
            <if test="keyword!=null">
                SELECT *
                FROM book
                where concat(title, content) like '%${keyword}%'
                AND userId = #{userId} AND openType = #{openType} ORDER BY createTime DESC
            </if>
            <if test="keyword==null">
                SELECT *
                FROM book
                WHERE userId = #{userId} AND openType = #{openType} ORDER BY createTime DESC
            </if>
        </if>
        <if test="userId==null">
            <if test="keyword!=null">
                SELECT *
                FROM book
                where concat(title, content) like '%${keyword}%'
                AND openType = #{openType} ORDER BY createTime DESC
            </if>
            <if test="keyword==null">
                SELECT *
                FROM book
                WHERE openType = #{openType} ORDER BY createTime DESC
            </if>
        </if>
    </select>

</mapper>