<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tson.yd.dao.LoginDao">

    <select id="queryLogin" resultType="com.tson.yd.model.login.LoginEntity">
        SELECT
            id,
            userCode,
            userId,
            `password`,
            createTime,
            updateTime,
            unRegister
        FROM
            login
        WHERE
            userCode = #{userCode}
    </select>

    <insert id="insertLogin" parameterType="com.tson.yd.model.login.LoginEntity">
        INSERT
        login
        (
        userCode,
        userId,
        `password`,
        unRegister
        )
        VALUES
        (
        #{userCode},
        #{userId},
        #{password},
        '1'
        )
    </insert>

    <update id="updateLogin" parameterType="com.tson.yd.model.login.LoginEntity">
        UPDATE
        login
        SET
        <if test="password!=null">
            `password`=#{password},
        </if>
        <if test="unRegister!=null">
            unRegister=#{unRegister},
        </if>
        userCode=#{userCode}
        WHERE
        userCode=#{userCode}
    </update>


</mapper>